.card {
    border-radius: 6px;
    background-color: #fff;
}

.card-panorama{
    width: 100%;
    height: 168px;
    background-color: #BCD1FF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px 6px 0 0;
}

.card-panorama .img{
    max-width: 120px;
}

.card-body {
    padding: 14px 25px;
}

.marks {
    display: flex;
    justify-content: space-between;
    color: #6E798C;
    margin-bottom: 7px;
}

.card-title{
    font-size: 21px;
    font-weight: 500;
    color: #081F32;
}

.card-description {
    margin-top: 4px;
    font-size: 13px;
    font-weight: 400;
    color: #374A59;
}

.author{
    display: flex;
    align-items: center;
    margin-top: 14px;
}

.author-img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}