.login-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.label {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #6F7C8B;
    margin-bottom: 10px;
}

.input {
    height: 55px;
    width: 460px;
    padding: 18px 32px;
    background-color: #F5F6F7;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 27px;
}

.password-block {
    display: flex;
}

.show-password {
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}